/*@import url(reset.css);*/
h1 {
   color: rgb(99, 8, 8);
}
/*.header p a {
   color: red;
}*/

/*.header > p a {
   color: blue;
}*/

/*li,
li > a {
   color: rgb(35, 146, 15);
}*/
.questions-item.item {
   color: blueviolet;
}

.item,
li,
.item a {
   color: red;
}
.questions-item {
   color: rgb(27, 173, 73);
}

.questions-item ~ li {
   color: black;
}
.questions-item li {
   color: aqua;
}

a[href^="mailto"] {
   color: rgb(164, 18, 135);
}

a[href*="tel"] {
   color: rgb(51, 126, 147);
}

h2 {
   color: rgb(22, 132, 132);
}

#item-2 {
   color: rgb(199, 118, 18);
}

.content-fact {
   color: rgb(80, 50, 50);
}
span {
   color: aquamarine;
}
.main > .content .content-fact {
   color: rgb(8, 182, 221);
}

[title] {
   color: rgb(241, 4, 4);
}
#item-6 {
   color: green;
}
[target] {
   color: rgb(135, 238, 135);
}
[class*="title"] {
   color: red;
}
.questions-list-1 .item-2 {
   color: blue;
}
.list .list-item .item-3 {
   color: black;
}

h2 + p {
   color: blue;
}
