@font-face {
  font-family: "Arial";
  src: url("../fonts/ARIALBI.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/ARIALBI.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
