body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #cec8c8;
}
.wrapper {
  position: relative;
  overflow: clip;
  min-height: 100%;
}
[class*="__container"] {
  max-width: 950px;
  margin: 0 auto;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #208079;
  z-index: 50;
}
.header__container > :not(:last-child),
.footer__container > :not(:last-child) {
  margin-bottom: 15px;
}
.header__container {
  padding: 15px 15px 0px;
}
.header__title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.list-menu > :not(:last-child) {
  margin-right: 35px;
}
.list-menu {
  text-align: center;
  position: relative;
}
.list-menu__item {
  display: inline-block;
  padding: 15px 0px;
}
.list-menu__link,
.submenu__link,
.two-submenu__link,
.three-submenu__link {
  text-transform: uppercase;
}
.list-menu__link:hover,
.submenu__link:hover,
.two-submenu__link:hover,
.three-submenu__link:hover,
.footer__link-mail:hover,
.footer__link:hover {
  text-decoration: underline;
}
.list-menu__link:active,
.submenu__link:active,
.two-submenu__link:active,
.three-submenu__link:active,
.footer__link-mail:active,
.footer__link:active {
  color: #2a2a2a;
}
.submenu {
  position: relative;
}
.two-submenu,
.three-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  min-width: 200px;
  padding: 10px;
  background-color: #208079;
  box-shadow: 1px 1px 15px #0e3230;
}
.two-submenu > :not(:last-child),
.three-submenu > :not(:last-child) {
  margin-bottom: 10px;
}
.list-menu__item:hover .two-submenu,
.list-menu__item:hover .three-submenu {
  opacity: 1;
  visibility: visible;
  text-align: left;
}
.list-menu li:last-of-type {
  position: relative;
  padding-right: 30px;
}

/* !main */
main {
  color: #5e5b5b;
}

.page__container {
  padding: 150px 15px 15px;
}
.page__container > :not(:last-child) {
  margin-bottom: 20px;
}
.page__task {
  width: 900px;
  height: 600px;
  background-color: beige;
  box-shadow: 0 0 5px #0e3230;
}
.page__title {
  margin-bottom: 15px;
}
.page__list > * {
  margin-bottom: 15px;
}

.page__item {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 280px;
  min-height: 200px;
  text-align: center;
  padding: 10px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #211e1e;
  display: inline-block;
}
.page__item:not(:last-child) {
  margin-right: 15px;
}
.page__parent-block {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-top: 15px;
  background-color: rgb(35, 82, 79);
}
.page__child-block {
  transition: all 0.3s;
  width: 100px;
  height: 100px;
  background-color: #208079;
}

.page__item:nth-child(1):hover .page__child-block {
  scale: -1 1;
  background-color: #605d5d;
}

.page__item:nth-child(2):hover .page__child-block {
  scale: 1.1;
}
.page__item:nth-child(3):hover .page__child-block {
  scale: 0.5;
}
.page__item:nth-child(4):hover .page__child-block {
  translate: -15px -10px;
}
.page__item:nth-child(5):hover .page__child-block {
  translate: 15px 10px;
}
.page__item:nth-child(6):hover .page__child-block {
  rotate: 360deg;
}
.page__item:nth-child(7):hover .page__child-block {
  transform: rotateX(13deg);
}
.page__item:nth-child(8):hover .page__child-block {
  transform: rotateY(-43deg);
}
.page__item:nth-child(9):hover .page__child-block {
  transform: skew(15deg);
}
.page__item:nth-child(10):hover .page__child-block {
  transform: skewY(15deg);
  transform-origin: top left;
}
.page__item:nth-child(11):hover .page__child-block {
  transform: rotate(360deg);
  transform-origin: bottom right;
}
.page__parent-block {
  perspective: 100px;
  perspective-origin: center;
}
.page__item:nth-child(12):hover .page__child-block {
  transform: scale3d(1.5, 0.5, 1) skewX(25deg);
}
.page__item:nth-child(13):hover .page__child-block {
  transform: translate3d(10px, 15px, 10px);
}
.page__item:nth-child(14):hover .page__child-block {
  transform: rotateX(180deg);
  backface-visibility: hidden;
}
.page__item:nth-child(15) .page__parent-block {
  transform-style: preserve-3d;
  perspective: 100px;
}
.page__item:nth-child(15):hover .page__child-block {
  transform: rotate3d(10, 45, 30, 80deg);
  border-radius: 15px;
}
.page__item:nth-child(16):hover .page__child-block {
  transform: rotate3d(10, 45, 30, 80deg);
}

.page__item:nth-child(17) .page__parent-block {
  transform-style: preserve-3d;
  perspective: 70px;
}
.page__item:nth-child(17):hover .page__child-block {
  transform: rotateX(360deg);
    border-radius: 50%;
}
.page__item:nth-child(18) .page__parent-block {
  transform-style: preserve-3d;
  perspective: 60px;
}
.page__item:nth-child(18):hover .page__child-block {
  transform: rotateY(360deg);
    border-radius: 50%;
}


/* !Task */
.page__task {
  position: relative;
  perspective: 900px;
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
}
.road-sign {
  padding: 5px;
  perspective: 150px;
}
.page__road-sign {
  position: absolute;
  bottom: 70px;
  right: 120px;
  z-index: 29;
  width: 150px;
  height: 300px;
}
.road-sign__body {
  position: absolute;
  left: 60px;
  bottom: 55px;
  width: 15px;
  height: 170px;
  background-color: #80563c;
}
.road-sign__arrow {
  width: 130px;
  transition: all 0.3s;
}
.road-sign__arrow {
  transform: rotateY(180deg);
  z-index: 4;
  position: absolute;
  top: 0px;
  left: 10px;
}
.page__task:hover .road-sign__arrow {
  transform: rotateY(0deg);
}
.car__body,.car__rear-body {
  position: absolute;
  bottom: 160px;
  left: 100px;
  z-index: 30;
  width: 200px;
  height: 150px;
  background: #208079;
  border-top-left-radius: 70px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow:
    inset -10px -10px 20px rgba(0, 0, 0, 0.3),
    inset 10px 10px 20px rgba(255, 255, 255, 0.1),
    0 20px 30px rgba(0, 0, 0, 0.3);
}
.car__rear-body{
  z-index: 29;
   bottom: 170px;
  left: 110px;
}
.car__light::after, .car__rear-light::after {
  content: "";
  width: 40px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #2a2a2a;
  box-shadow: inset 5px 5px 10px #6b6565;
  background-color: #f4f1eb;
  translate: 16px 14px;
  transform: skewX(-30deg);
}


.page__task:hover .car__light::after,.page__task:hover .car__rear-light::after  {
  border: 2px solid #2a2a2a;
  background-color: #ded1af;
  box-shadow: -25px -20px 20px #eaddbe;
}
.page__task:hover .car__rear-light::after {
  box-shadow: -45px -45px 20px #eaddbe;
}
.page__task:hover .car__small-exhaust {
  box-shadow: -2px -40px 15px #2a2a29;
}
.car__wheel-fender,.car__rear-wheel-fender{
  position: absolute;
  bottom: 220px;
  left: 240px;
  z-index: 31;
  width: 280px;
  height: 130px;
  background: #208079;
  border-radius: 50% 50% 49% 51% / 87% 90% 10% 13%;
  box-shadow:
    inset -10px -10px 20px rgba(0, 0, 0, 0.3),
    inset 10px 10px 20px rgba(255, 255, 255, 0.1),
    0 20px 50px rgba(0, 0, 0, 0.3);
}
.car__rear-wheel-fender{
  bottom: 228px;
  left: 245px;
  z-index: 28;
}
.car__wheel-left {
  position: absolute;
  bottom: 110px;
  left: 110px;
  z-index: 31;
  outline: 3px dashed #211e1e;
  width: 80px;
  height: 80px;
  background-color: #211e1e;
  border-radius: 50%;
  box-shadow:
    inset -10px -10px 20px rgba(0, 0, 0, 0.3),
    inset 10px 10px 20px rgba(255, 255, 255, 0.1),
    0 20px 30px rgba(0, 0, 0, 0.3);
}
.wheel-left__child {
  width: 80px;
  height: 80px;
  transform: scale(0.6);
  outline: 10px dashed #211e1e;
  background-color: #6b6565;
  border-radius: 50%;
  box-shadow: inset 8px 8px 15px rgba(255, 255, 255, 0.15);
}
.car__wheel-right {
  position: absolute;
  bottom: 100px;
  left: 270px;
  z-index: 32;
  width: 230px;
  height: 230px;
  background-color: #211e1e;
  outline: 8px dashed #211e1e;
  padding: 20px;
  border-radius: 50%;
  box-shadow:
    inset -10px -10px 20px rgba(0, 0, 0, 0.3),
    inset 10px 10px 20px rgba(255, 255, 255, 0.1),
    0 20px 30px rgba(0, 0, 0, 0.3);
}
.wheel-right__child {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 1px dashed #211e1e;
  background-color: #6b6565;
  border-radius: 50%;
  box-shadow: inset 8px 8px 15px rgba(255, 255, 255, 0.15);
}
.wheel-left__child::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 8px dotted #211e1e;
  background-color: #c2baba;
  border-radius: 50%;
}
.wheel-right__child::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 8px dotted #211e1e;
  background-color: #c2baba;
  border-radius: 50%;
}
.car__window {
  position: absolute;
  z-index: 30;
  top: 100px;
  left: 245px;
  border: 15px solid #2a2a2a;
  width: 200px;
  height: 200px;
  border-radius: 98% 2% 100% 0% / 30% 100% 0% 70%;
  background-color: rgba(255, 255, 255, 0.3);
}
.car__rear-window{
    position: absolute;
  z-index: 28;
  top: 100px;
  left: 270px;
  border: 15px solid #2a2a2a;
  width: 180px;
  height: 220px;
  border-radius: 98% 2% 100% 0% / 30% 100% 0% 70%;
  background-color: rgba(255, 255, 255, 0.3);

}
.car__seat {
  position: absolute;
  top: 50px;
  left: 120px;
  width: 50px;
  height: 110px;
  border-radius: 98% 2% 48% 52% / 92% 100% 0% 8%;
  background-color: #545252;
}
.car__block {
  margin-top: 140px;
  width: 90px;
  height: 90px;
}
.car__helm {
  height: 40px;
  transform: skew(-20deg, 20deg);
  border-radius: 50%;
  border: 9px solid #2a2a2a;
}
.car__exhaust {
  position: absolute;
  z-index: 32;
  top: 230px;
  left: 190px;
  width: 15px;
  height: 105px;
  background-color: #2a2a2a;
  box-shadow:
    inset -10px -10px 20px rgba(0, 0, 0, 0.3),
    inset 10px 10px 20px rgba(255, 255, 255, 0.1),
    0 20px 30px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 2px 2px 2px #1c1c1c;
}
.car__small-exhaust {
  position: absolute;
  z-index: 32;
  top: 205px;
  left: 193px;
  width: 8px;
  height: 25px;
  background-color: #2a2a2a;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.page__meadow {
  z-index: 26;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 400px;
  border-radius: 0% 100% 49% 51% / 100% 64% 36% 0%;
  background: #dce35b;
  background: -webkit-linear-gradient(to right, #45b649, #dce35b);
  background: linear-gradient(to right, #45b649, #dce35b);
}
.page__field {
  z-index: 27;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 300px;
  border-radius: 100% 0% 49% 51% / 89% 100% 0% 11%;
  background: #cac531;
  background: -webkit-linear-gradient(to right, #f3f9a7, #cac531);
  background: linear-gradient(to right, #f3f9a7, #cac531);
}
.page__road {
  z-index: 29;
  border-radius: 34% 66% 49% 51% / 100% 100% 0% 0%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #000000;
  background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
  background: linear-gradient(to right, #0f9b0f, #000000);
}
.page__road::before {
  content: "";
  position: absolute;
  z-index: 31;
  top: 100px;
  right: 160px;
  width: 100px;
  height: 70px;
  border-radius: 63% 37% 72% 28% / 60% 72% 28% 40%;
  background: #1e130c;
  background: -webkit-linear-gradient(to right, #9a8478, #1e130c);
  background: linear-gradient(to right, #9a8478, #1e130c);
  box-shadow: 3px 5px 20px #1e130c;
}
.page__road::after {
  content: "";
  position: absolute;
  z-index: 32;
  top: 160px;
  right: 230px;
  width: 60px;
  height: 20px;
  border-radius: 63% 37% 72% 28% / 60% 72% 28% 40%;
  background: #1e130c;
  background: -webkit-linear-gradient(to right, #9a8478, #1e130c);
  background: linear-gradient(to right, #9a8478, #1e130c);
  box-shadow: 3px 5px 20px #1e130c;
}

/* !footer */
.footer {
  background-color: #208079;
}
.footer__container {
  padding: 15px 15px;
}
.footer__title {
  margin-right: 250px;
}
.footer__list {
  position: relative;
}
.footer__list .footer__item:last-child {
  position: absolute;
  z-index: 20;
  right: 0;
}
.footer__item {
  display: inline-block;
}
.footer__icon:not(:last-child) {
  margin-right: 50px;
}
.footer__icon {
  position: relative;
}
.footer__link-linkedin::before {
  position: absolute;
  content: "";
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/linkedin.svg") no-repeat center / contain;
  width: 24px;
  min-height: 24px;
}
.footer__link-mail::before {
  position: absolute;
  content: "";
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/mail.svg") no-repeat center / contain;
  width: 24px;
  min-height: 24px;
}
.footer__link-githab::before {
  position: absolute;
  content: "";
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/github.svg") no-repeat center / contain;
  width: 24px;
  min-height: 24px;
}
.footer__link-linkedin:hover::before,
.footer__link-githab:hover::before,
.footer__link-mail:hover::before {
  box-shadow: 0 0 15px #2a2a2a;
}
.footer__link-linkedin:active::before,
.footer__link-githab:active::before,
.footer__link-mail:active::before {
  box-shadow: 0 0 15px #cec8c8;
}
.footer__layot::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #cec8c8;
  margin-bottom: 10px;
}
