body {
  font-family: "Barlow", sans-serif;
  background-color: #030303;
  color: #ffffff;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
main {
  padding: 20px 0;
}
/* ========================= */

.about-us {
  background-image: radial-gradient(#4e4e4e 1px, transparent 1px);
  background-size: 10px 10px;
  padding: 44px 0;
  margin-bottom: 134px;
}
.title__link:active {
  color: rgba(0, 0, 255, 0.562);
}
.about-us__container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}
.about-us__container > :not(:last-child) {
  margin-bottom: 123px;
}
.about-us__block {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}

.about-us__img {
  display: block;
  overflow: hidden;
  aspect-ratio: 492 / 292;
}
.img__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.5s;
}
.about-us__text {
  line-height: 1.188;
  max-width: 594px;
}
.about-us__body-text p:not(:last-child) {
  margin-bottom: 16px;
}
.about-us__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.208;
  margin-bottom: 24px;
}

/* ========================= */

.categories {
  max-width: 1284px;
  margin: 0 auto;
  padding: 0 15px;
}

/* !expertise */
.categories__expertise {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(305px, 100%), 1fr));
  gap: 10px;
  justify-content: center;
  margin-bottom: 141px;
}
.categories__section {
  border-radius: 10px;
  background-color: #1f1f1f;
  transition: box-shadow 0.3s;
}

.section__title {
  font-family: "Roboto Mono", sans-serif;
  line-height: 1.5;
  color: #81807e;
  padding: 12px 24px;
}
.section__img {
  padding: 30px 93px;
  background-color: #262626;
}
.section__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 120 / 125;
  object-fit: contain;
}
.section__text {
  font-family: "Roboto Flex", sans-serif;
  color: #b3b3b2;
  padding: 24px;
}
.section__text p:not(:last-child),
.sub-section__text p:not(:last-child) {
  margin-bottom: 10px;
}

/* !record */
.categories__record {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(293px, 100%), 1fr));
  gap: 27px;
  justify-content: center;
}

.sub-section__laout {
  position: relative;
  font-size: 64px;
  font-weight: 900;
  text-shadow:
    0 -2px 3px rgba(0, 0, 0, 0.4),
    0 1px 0 rgba(255, 255, 255, 0.35),
    0 0 4px rgba(0, 0, 0, 0.65),
    0 2px 3px rgb(255, 255, 255);
}

.sub-section__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.sub-section {
  line-height: 1.188;
}

/* !media */

@media (any-hover: hover) {
  .about-us__img:hover .img__image {
    scale: 1.1;
  }
  .categories__section:hover,
  .sub-section:hover {
    box-shadow: 0 0 15px #ffffff;
  }
  .title__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1141px) {
  .about-us__container > :not(:last-child),
  .about-us {
    margin-bottom: 40px;
  }
  .title {
    margin-bottom: 15px;
  }
}
@media (width >= 768px) {
  .about-us__img {
    flex: 0 1 492px;
  }
  .about-us__text {
    flex: 0 1 594px;
  }
  .about-us__block:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media (width < 768px) {
  .about-us__block {
    flex-direction: column;
    justify-content: center;
  }
  .categories__expertise,
  .about-us__container > :not(:last-child),
  .about-us {
    margin-bottom: 25px;
  }
  .categories__record {
    gap: 10px;
  }
}
